:root {
  --color-primario: #242424;
  --color-primario-darken: #151515;
  --color-primario-lighten: #323232;
  --color-primario-lighten-opacity: #32323244;
  --color-secundario: #0c50f0;
  --color-texto: #fff;

  --color-musico-1: #242424;
  --color-musico-2: #242424;

  --border-radius: 6px;

  --bg-image: '';
}

html {
  font-size: 16px;
  position: relative;
  color: var(--color-texto);
  background: linear-gradient(60deg,   #1d1d1d  300px, var(--color-musico-1) , var(--color-musico-2));
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  transition: 0.5s ease-in-out;

  &::before {
    content: "";
    background: var(--bg-image);
    top: 0;
    position: absolute;
    filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.1;
  }
}

body {
  background-color: unset;
  color: var(--color-texto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}